<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.gamepad" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <application
    android:allowBackup="false"
    android:extractNativeLibs="true"
    android:icon="@mipmap/icon"
    android:label="Celeste 64"
    android:roundIcon="@mipmap/icon"
    android:supportsRtl="true" />
</manifest>
